nav
  ul.mainMenu
    li.menuItem
      a(href='/student')='Domov'
    li.menuItem
      a(href='/courses')='Predmeti'
    li.menuItem
      a(href='/exams')='Izpiti'
    li.menuItem
      a(href='/logout')='Odjava'
