extends ../layout

block title
  title='Dodajanje uporabnik'

block content
  .addUserFrame
    .frameRow
      span.frameTitle='Dodajanje uporabnika'
    form(action='/addUser', method='post')
      .frameRow
        input(type='text' name='name', placeholder='Ime', required='true')
      .frameRow
        input(type='text', name='lastName', placeholder='Priimek', required='true')
      .frameRow
        input(type='text', name='username', placeholder='Uporabniško ime',required='true')
      .frameRow
        input(type='password', name='password', placeholder='Geslo',required='true')
      .frameRow
        input(type='text', name='type', placeholder='Tip uporabnika', require='true')
      .frameRow
          input.loginButton(type='submit', value='Dodaj')
