extends ../layout

block title = 'Referat'

block content
  nav
    ul.mainMenu
      li.menuItem
        a(href='#')='Uporabniki'
      li.menuItem
        a(href='#')='Letniki'
  h1.pageTitle='Tvoja obvestila'
  .obvestilaList
    |Obvestila
