.row
  .large-12
    nav
      ul.mainMenu
        li.menuItem
          a(href='/referat/users')='Uporabniki'
        li.menuItem
          a(href='/referat/programs')='Letniki'
        li.menuItem
          a(href='/referat/courses')='Predmeti'
