extends layout

block title
  title='Študentova domača stran'
block content
  .row
    .large-12.columns.large-centered
      h1='Pozdravljen, ' + user.firstname + '!'
      -if(!obvestila)
        p='Trenutno ni obvestil.'
      -else
        p='Tvoja obvestila:'
