doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    block title
    link(rel='stylesheet',href='stylesheets/foundation.css')
    link(rel='stylesheet',href='stylesheets/foundation-icons.css')
    link(rel='stylesheet',href='stylesheets/style.css')
    script(src='javascripts/vendor/modernizr.js')
  body
    header.row
      .large-12.columns.large-centered
        .row-collapse
          .small-3.columns
            #logo='AIDS'
    nav.row
      .large-12.columns.large-centered
        include mainMenu
    .pageFrame
      block content
                        
    script(src='javascripts/vendor/jquery.js')
    script(src='javascripts/foundation.min.js')
    script.
      $(document).foundation();
                              
