ul.mainMenu
  li.menuItem
    a(href="/student")='Obvestila'
  li.menuItem
    a(href="/student/courses")='Predmeti'
  li.menuItem
    a(href="/student/exams")='Izpiti'
  li.menuItem
    a(href="/logout")='Odjava'
