nav
  ul.mainMenu
    li.menuItem
      a(href='/prof')='Domov'
    li.menuItem
      a(href='/prof/courses')='Predmeti'
    li.menuItem
      a(href='/prof/exams')='Izpiti'
    li.menuItem
      a(href='/logout')='Odjava'
